*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#0f0f0f;
    color:white;
    font-family:sans-serif;
}

#navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:25px 50px;

    border:1px solid white;
}

#menu{
    display:flex;
    gap:30px;
}

#menu a{
    color:white;
    text-decoration:none;
}